<h1>{{title}}</h1>
<body>
<!--<ul class="people">
  <li *ngFor="let person of people">
    <div class="badge">{{person.firstName}}</div>
    <div>{{person.lastName}}</div>
    <div>{{person.age}}</div>
  </li>
</ul> -->
</body>
<listComponent [People]="People">

</listComponent>
<listItemComponent>
  <!--<ul class="people">
    <li *ngFor="let person of People">
      <div class="badge">{{person.firstName}}</div>
      <div>{{person.lastName}}</div>
      <div>{{person.age}}</div>
    </li>
  </ul>-->
</listItemComponent>

